body {
    background-color:#f5f5f5;
    font-family: Helvetica;
}

ul {
    height: 2em;
    width: 48em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color:lightgray;
    border-radius: 10px;
    padding-top: 15px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1);
}

a {
    text-align: center;
    margin-top: 1em;
    padding-left: 3em;
    color: black;
    text-decoration: none;
}

main{
    margin-top: 5em;
}

.text, h2 {
    text-align: center;

}

hr {
    margin-top: 5em;
    width: 75%;
}

figure{
    text-align: center;
    margin-top: 5em;
}

img {
    margin-top: 5em;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.experiment {
    text-align: left;
    float: left;
}

#experiment2 {
    background: rgb(249, 243, 176);
    background-color: rgb(249, 243, 176);
    width: 25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}